@import "tailwindcss";

@theme {
  --radius-huge: 2rem;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color-scheme: light;
}

/* El fondo Slate 100 (#f1f5f9) ayuda a que las tarjetas blancas resalten más */
body {
  margin: 0;
  display: block; 
  min-height: 100vh;
  background-color: #f1f5f9; 
}

/* Scrollbar moderno */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
  border: 2px solid #f1f5f9; /* Crea un efecto de separación elegante */
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}